spring:
  datasource:
    url: jdbc:mysql://localhost:3306/GmHelper?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Aa307764.
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

logging:
  level:
    org.springframework: info

